body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 20px;
}

#search-input {
    width: 50%;
    height: 30px;
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 0 10px;
}

#search-button {
    background-color: #c8b61c;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 25%;
}

#results {
    border: 1px solid #c8b61c;
    margin: 20px auto;
    width: 50%;
    max-width: 600px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #c8b61c;
}

td:first-child {
    text-align: left;
    font-weight: bold;
}

td:last-child {
    text-align: right;
}

#types {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.type {
    width: 66px;
    padding: 5px;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 5px;
    background-color: red;
    text-transform: uppercase;
}

.normal {
    background-color: #b7b7aa;
}

.fire {
    background-color: #ff6f52;
}

.water {
    background-color: #42a1ff;
}

.electric {
    background-color: #fecc33;
}

.grass {
    background-color: #78cc55;
}

.ice {
    background-color: #66ccfe;
}

.fighting {
    background-color: #d3887e;
}

.poison {
    background-color: #c68bb7;
}

.ground {
    background-color: #dfba52;
}

.flying {
    background-color: #8899ff;
}

.psychic {
    background-color: #ff66a3;
}

.bug {
    background-color: #aabb23;
}

.rock {
    background-color: #baaa66;
}

.ghost {
    background-color: #9995d0;
}

.dragon {
    background-color: #9e93f1;
}

.dark {
    background-color: #b59682;
}

.steel {
    background-color: #abaabb;
}

.fairy {
    background-color: #ed99ed;
}